body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
@page{
    size: A4;
    margin: 15mm;
}
.container {
    /* max-width: 900px; */
    width: 210mm;
    height: 297mm;
    margin: 30px auto;
    background: #fff;
    padding: 40px 50px;
    box-sizing: border-box;
    border-top: 3px solid #003366;
    border-bottom:3px solid #003366;
    border-left: 3px solid #003366;
    border-right: 3px solid#003366;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 150px;
    height: 150px;
}
 h1 , h2{
     color: #003366;
}
.certificate{
    text-align: center;
   margin-bottom: 20px;
}
.certificate1{
    text-align:justify;
}
.certificate2{
    text-align:left ;
}
.signatures{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.QR-Code{
   display: flex;
   justify-content: center;
}
.QR-Code img{
    width: 120px;
    height: 120px;
}